 * {
    margin: 0;
    padding: 0;
}
body {
    background: black; /* por si el video tarda */
    overflow: hidden;
}

video {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    object-fit: cover;
}