html{
    background-color: black;
    color: red;
    font-family: 'Creepster', cursive;
}

h1{
    text-align: center;
    font-size: 36px;
}

h2{
    font-size: 36px;
}

p{
    text-align: center;
    font-size: 24px;
}

#botonInicial {
    text-align: center;  
    margin-top: 50px;  
}

#botonInicial button {
    display: block;       
    margin: 50px auto 0;  
    padding: 15px 30px;
    font-size: 20px;
    background-color: black;  
    color: rgb(208, 56, 56);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#botonInicial button:hover {
    background-color: red;
}